replicaCount: 1

app:
  httpProxy: "on"

image:
  repository: paravision/processor
  pullPolicy: IfNotPresent
  tag: v3-zill-openvino

imagePullSecrets: []

service:
  type: ClusterIP
  grpcPort: 50051
  httpPort: 8081

ingress:
  grpc:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/backend-protocol: "GRPC"

    hosts:
      - host: processor.cluster.local
        paths:
          - /

    tls: []

  http:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: "nginx"

    hosts:
      - host: processor.cluster.local
        paths:
          - /rest

    tls: []

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
