# Values below correspond to available Identity options, see Identity install documentation for more detailed descriptions.
identity:
  http:
    # Enable HTTP Interface.
    enabled: false
    auth:
      # Enable HTTP basic authentication.
      enabled: false
      user: null
      password: null
  ssl:
    # Enable encryption
    enabled: false
    cert: "/server.crt"
    key: "/server.key"
  # Database settings
  db:
    # For PostgreSQL
    postgresURI: null
    # For MySQL+Milvus (-large variant)
    mysqlURI: null
    milvusURI: null

# Extra volumes to add to the deployment, can be used to inject custom SSL certificate from external secrets
extraVolumes: []
extraVolumeMounts: []

image:
  repository: paravision/identity
  pullPolicy: IfNotPresent
  pullSecrets: []
  tag: v4.0.0

replicaCount: 1

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

service:
  type: ClusterIP
  grpcPort: 5656
  httpPort: 8080

ingress:
  grpc:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/backend-protocol: "GRPC"

    hosts:
      - host: identity.cluster.local
        paths:
          - /

    tls: []

  http:
    enabled: false
    annotations:
      kubernetes.io/ingress.class: "nginx"

    hosts:
      - host: identity.cluster.local
        paths:
          - /rest

    tls: []

nodeSelector: {}
tolerations: []
affinity: {}
